.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}
.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 35px; /* /////leaves//// */
}
/* leaves rating */
.product_rating {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    margin-bottom: 25px;
    z-index: 1;
}
/* mulan image */
.mulan {
    width: 200px;
    height: auto;
}
.product_info {
    height: 100px;
    margin-bottom: 15px;
}
.product_price {
    margin-top: 5px;
}
.product_button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    font-family: "Oswald";
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0px 45px;
    padding: 5px;
}
.product_button:hover {
    background-color: rgb(8,78,192);
    color: white;
}
.product_rating > p {
    margin-bottom: 15px;
    z-index: 1;
}
.flame {
    display:block;
    margin-bottom: 15px;

}